article{
  border: 1px solid lightblue;
  width: 28%;
  float:left;
  margin: 0 1%;
}

h2{
  border: 1px dotted lightgray;
  text-align: center;
}

img{
  width: 90%;
  margin: 0 auto;
}

.description p{
  text-align: justify;
  padding: 0 4px;
  margin-bottom: 10px;
}

.bold{
  font-style: bold;
}

.availability{
  background-color: darkgray;
  color: yellow;
}
h5, p, h3, h4{
  padding: 0;
  margin: 0;
}
